{% extends 'store/main.html' %}
{% load static %}

{% block content %}

    <div class="container px-5 d-inline-flex">

        <nav class="navbar navbar-expand d-flex flex-column align-items-start sidebar" id="side-navbar">

            <h5 class="p-2"><span class="sidebar-heading">Shop by Categories</span></h5>
            <ul class="navbar-nav d-flex flex-column mt-2 w-100">
                <li class="nav-item sidebar-lists w-100">
                    <a href="#" class="nav-link sidebar-fonts"><span>Health and care</span></a>
                </li>
                <li class="nav-item sidebar-lists w-100">
                    <a href="#" class="nav-link sidebar-fonts"><span>Health and care</span></a>
                </li>
                <li class="nav-item sidebar-lists w-100">
                    <a href="#" class="nav-link sidebar-fonts"><span>Health and care</span></a>
                </li>
                <li class="nav-item sidebar-lists w-100">
                    <a href="#" class="nav-link sidebar-fonts"><span>Health and care</span></a>
                </li>
                <li class="nav-item sidebar-lists w-100">
                    <a href="#" class="nav-link sidebar-fonts"><span>Health and care</span></a>
                </li>
                <li class="nav-item sidebar-lists w-100">
                    <a href="#" class="nav-link sidebar-fonts"><span>Health and care</span></a>
                </li>
            </ul>

        </nav>

        
        <div class="product-details w-100 px-2">
            {% comment %} <div class="row mb-2"> {% endcomment %}
            <div class="col-md-12 col-12 d-lg-flex">
                {% comment %} <div class="row gx-3"> {% endcomment %}
                <div class="product-details-image-div col-lg-5 col-md-4 col-11 px-2">
                    <img src="{{product.imageURL}}" class="product-details-image" alt="">
                    <div>
                        <p>images</p>
                    </div>
                </div>

                <!--Product details-->
                <div class="product-page-details col-lg-7 col-md-7 col-11 px-2">
                    <h3 class="mb-0"><span class="product-details-name">{{product.name}}</span></h3>
                    <p><span class="product-details-category">Category</span></p>
                    <h3 class="mb-0"><span class="product-details-price">${{product.price}}</span></h3>
                
                    <!--Product review/rating-->
                    <div class="rating-div">
                        <div class="row">
                            <div class="product-rating mt-2 d-flex">
                                <ul class="stars d-flex list-unstyled">
                                    <li class="star pe-1"><i class="fa-solid fa-star"></i></li>
                                    <li class="star pe-1"><i class="fa-solid fa-star"></i></li>
                                    <li class="star pe-1"><i class="fa-solid fa-star"></i></li>
                                    <li class="star pe-1"><i class="fa-solid fa-star"></i></li>
                                    <li class="star pe-1"><i class="fa-solid fa-star"></i></li>
                                </ul>
                                <div class="star-review ps-2">
                                    <p><span class="star-votes">4.7(20 votes)</span></p>
                                </div>                                        
                            </div>
                        </div>
                    </div>
                    <div class="product-about">
                        <h5><span>About</span></h5>
                    </div>
                    <div class="product-about-details">
                        <p><span class="product-detail-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni reprehenderit incidunt minima repudiandae, cupiditate neque
                                delectus rerum eum inventore pariatur nulla, eos sit aperiam debitis at corporis. Eveniet, dolores voluptas.
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, dolor commodi, sapiente labore
                                assumenda debitis quae sit porro magni natus quo incidunt rerum? Vitae facere delectus, rem cumque 
                                corporis dicta?</span></p>
                    </div>
                    <!--Size-->
                    <form action="" class="size-form" id="size-id">
                        <div class="size-select col-12 mb-3">
                            <p class="mb-1" id="size-heading" style="color: black; font-size: 15px; font-weight: 600">Size</p>

                            <label for="small" class="size-label" id="frist-label">
                                <input type="radio" name="size" id="small" class="size-radio" value="small">
                                <span class="size-span">S</span>
                            </label>
                            <label for="medium" class="size-label">
                                <input type="radio" name="size" id="medium" class="size-radio" value="medium">
                                <span class="size-span">M</span>
                            </label>
                            <label for="large" class="size-label">
                                <input type="radio" name="size" id="large" class="size-radio" value="large">
                                <span class="size-span">L</span>
                            </label>
                            <label for="x-large" class="size-label">
                                <input type="radio" name="size" id="x-large" class="size-radio" value="x-large">
                                <span class="size-span">XL</span>
                            </label>
                            <label for="xx-large" class="size-label">
                                <input type="radio" name="size" id="xx-large" class="size-radio" value="xx-large">
                                <span class="size-span">XXL</span>
                            </label>
                        </div>

                        <!--Color-->
                        
                        <div class="size-select col-12 mb-3">
                            <p class="mb-1" id="color-heading" style="color: black; font-size: 15px; font-weight: 600">Color</p>

                            <label for="color-1" class="color-label" id="frist-color">
                                <input type="radio" name="color" id="color-1" class="color-radio" value="color-1">
                                <span class="size-span">C-1</span>
                            </label>
                            <label for="color-2" class="color-label">
                                <input type="radio" name="color" id="color-2" class="color-radio" value="color-2">
                                <span class="size-span">C-2</span>
                            </label>
                            <label for="color-3" class="color-label">
                                <input type="radio" name="color" id="color-3" class="color-radio" value="color-3">
                                <span class="size-span">C-3</span>
                            </label>
                            <label for="color-4" class="color-label">
                                <input type="radio" name="color" id="color-4" class="color-radio" value="color-4">
                                <span class="size-span">C-4</span>
                            </label>
                            <label for="color-5" class="color-label">
                                <input type="radio" name="color" id="color-5" class="color-radio" value="color-5">
                                <span class="size-span">C-5</span>
                            </label>
                        </div>

                        <!--Quantity button-->
                        <div class="row">

                            <div class="col-lg-3 col-12">
                                <p class="mb-1" id="color-heading" style="color: black; font-size: 18px; font-weight: 600">Quantity</p>
                            </div>
                            
                            <div class="col-lg-6 col-12 input-group custom-input-group input-group-sm ms-0 pe-0">
                                <button id="quantity-decrease" class="input-group-text product-quantity-button"><i class="fa-solid fa-minus"></i></button>                                               
                                <input type="text" id="quantity-input-field{{product.id}}" class="form-control quantity-button text-center" value="{{product_quantity}}">
                                <button id="quantity-increase" class="input-group-text product-quantity-button"><i class="fa-solid fa-plus"></i></button>
                            </div>
                            
                        </div>
                        <!--Quantity button-->
                    
                    </form>

                    <!--Size-->
                    
                    <div class="d-flex">
                        <button type="submit" name="size" value="Submit" data-product={{product.id}} data-action="productAdd" id="shipping-button" class="btn btn-primary mt-4 product-details-add-btn me-4">Add to Cart</button>
                        <button type="submit" name="size" value="Submit" id="shipping-buy-button" class="btn btn-primary mt-4 product-details-add-btn">Buy Now</button>
                    </div>
                        
                    
                </div>

                {% comment %} </div> {% endcomment %}
            </div>
            {% comment %} </div> {% endcomment %}
        </div>
    </div>

    <script type="text/javascript">

        var radios = document.getElementsByName('size');
        var size = document.getElementById("size-id")
        var radioButton = document.getElementsByClassName('size-radio')
        var addToCartBtn = document.getElementById('shipping-button')
        var colorRadios = document.getElementsByName('color')
        var colorRadioBtn = document.getElementsByClassName('color-radio')
 
        // if the product is not in the cart or the product quantity is 1, disable the '-' quantity button
        //$(document).ready(function(){

        // get the id of the input field of the quantity
        var quantityInputFieldId = $('#quantity-input-field{{product.id}}')
        var quantityInputValue = parseInt($('#quantity-input-field{{product.id}}').val())
        var quantityDecrease = $('#quantity-decrease')
        var quantityIncrease = $('#quantity-increase')

        console.log('quantityInputValue: ' + quantityInputValue)
        console.log('User: ', user)

        if(quantityInputValue <= 1){
            // var inputIdString = 'button[data-product={{product.id}}][data-action=remove]'
            quantityDecrease.addClass('quantity-btn-disabled')
        }

        function quantityEnableDisable(quantityInputValue, quantityDecrease){
            if(quantityInputValue <= 1){
                // var inputIdString = 'button[data-product={{product.id}}][data-action=remove]'
                quantityDecrease.addClass('quantity-btn-disabled')
            }
            if(quantityInputValue > 1){
                quantityDecrease.removeClass('quantity-btn-disabled')
            }
        }

        quantityDecrease.click(function(e){
            e.preventDefault()
            quantityInputValue -= 1
            console.log(quantityInputValue)
            quantityInputFieldId.val(quantityInputValue)

            quantityEnableDisable(quantityInputValue, quantityDecrease)
            
        })

        quantityIncrease.click(function(e){
            e.preventDefault()
            quantityInputValue += 1
            console.log(quantityInputValue)
            quantityInputFieldId.val(quantityInputValue)

            quantityEnableDisable(quantityInputValue, quantityDecrease)
            
        })

        // Radio Buttons start

        // Clicking on add to cart button, it will trigger the eventListener function
        addToCartBtn.addEventListener("click", function(e){
            e.preventDefault()

            var productId = {{ product.id }}
            var action = this.dataset.action
            var quantity = quantityInputValue

            console.log('quantityInputValue: ' + quantity)

            if(user === 'AnonymousUser'){
                addCookieProduct(productId, action, quantity)
                console.log('User:', user)
            }
            else{
                productOrder(productId, action, quantity)
            }

            // Selecting the input with name='size' 
            for(var i = 0; i < radios.length; i++) {

                // if the input is of type 'radio' and is checked grab the value
                if (radios[i].type === 'radio' && radios[i].checked) {
                    // get value, set checked flag
                    value = radios[i].value;
                    console.log("Value:", value)     
                }   

            }

            // Selecting the input with name='color'
            for(var j = 0; j < colorRadios.length; j++){
                
                // if the input is of type 'radio' and is checked grab the value
                if(colorRadios[j].type === 'radio' && colorRadios[j].checked){
                    colorName = colorRadios[j].value
                    console.log("colorName:", colorName)
                }
            }
        })

        // slect the input with class name 'size-radio'
        for(var i = 0; i < radioButton.length; i++){
            radioButton[i].addEventListener('click', productSize)
        }

        // slect the input with class name 'color-radio'
        for(var i = 0;  i < colorRadioBtn.length; i++){
            colorRadioBtn[i].addEventListener('click', productColor)
        }


        function productSize(){

            // Select the paragraph with id 'size-heading' that is the previous sibling of the labels
            var unselect = document.getElementById('size-heading')

            while (unselect = unselect.nextSibling){
                if(unselect.tagName === 'LABEL'){
                    unselect.classList.remove('checked')
                }
            }

            this.parentElement.classList.toggle('checked')
        }

        function productColor(){
            var unselect = document.getElementById('color-heading')
            while(unselect = unselect.nextSibling){
                if(unselect.tagName === 'LABEL'){
                    unselect.classList.remove('checked')
                }
            }
            this.parentElement.classList.toggle('checked')
        }
        // Radio buttons End

        //})

        // Same as addCookieItem() function in cart.js
        function addCookieProduct(productId, action, quantity){
            console.log("Not logged in...")

            if(action == 'productAdd'){

                if(cart[productId] == undefined){    
                    cart[productId] = {'quantity': quantityInputValue}
                }
                else{
                    cart[productId]['quantity'] += quantity
                }
        
            }
            var cartTotalQuantity = cart[productId]['quantity']
            document.getElementById("cart-total").innerHTML = cartTotalQuantity
            console.log('Cart:', cart)
            document.cookie = "cart=" + JSON.stringify(cart) + ";domain=;path=/"
            location.reload()
        }

        function productOrder(productId, action, quantity){
            console.log('User is logged in, sending data...')

            var url = '/product_order/'

            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'x-CSRFToken': csrftoken
                },
                body: JSON.stringify({'productId': productId, 'action': action, 'quantity': quantityInputValue})
            })

            .then((response) =>{
                return response.json()
            })
            .then((data) => {
                console.log('data:', data)
                console.log('quantity:', quantityInputValue)
                if (data.success){
                    document.getElementById("cart-total").innerHTML = data.order
                    console.log('productId:', productId)
                    console.log('action:', action)
                    console.log('quantity:', quantityInputValue)

                    // The product quantity in the input field is rest to 1 once the quantity is updated in the cart
                    document.getElementById('quantity-input-field{{product.id}}').value = parseInt(data.reset_quantity)
                    quantityInputValue = parseInt(data.reset_quantity)

                    // If value the quantity = 1 in the input field disable the minus button
                    if(quantityInputValue == 1){
                        
                        // var inputIdString = 'button[data-product={{product.id}}][data-action=remove]'
                        quantityDecrease.addClass('quantity-btn-disabled')
                    }
                }
            })
        }

    </script>

{% endblock content %}