/* @import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300;400&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300;400&family=Sarabun:wght@400;500&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');


* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/* font-family: 'Inter Tight', sans-serif; */
	/* font-family: 'Sarabun', sans-serif; */
	font-family: 'Poppins', sans-serif;
}

body {
	justify-content: center;
	overflow-x: hidden;
}

.col-lg-4, .col-lg-6, .col-lg-8, .col-lg-12, .col-lg-3, .col-lg-9, .col-lg-5, .col-lg-7 {
	margin-top: 10px;
}

h1,h2,h3,h4,h5,h6{
	color: rgb(0, 0, 0);
}

.container {
	max-width: 1400px;
}

.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 10px;
	padding: 10px;
}

/* .thumbnail:hover {
	box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
} */

.all-product-name {
	height: 55px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.product{
	border-radius: 0 0 4px 4px;
}

.product-name {
	color: rgb(0, 0, 0);
	font-size: 18px;
	font-weight: 500;
	text-decoration: none;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.cart-product-name {
	text-decoration: none;
}

.product-name:hover {
	color: rgb(0, 0, 0);
}

/* .product-child {
	transition: 0.5s;
} */

.flash-sale-div {
	width: 100%;
	overflow: hidden;
}

.product-div {
	transition: 0.3s;
}

/* .product-div:hover {
	padding-right: 0;
	padding-left: 0;
	border-radius: 5px;
	transform: scaleY(1.03);
	box-shadow: 0 0 10px rgba(0,0,0,1);
} */

.product-child {
	box-shadow: none;
}

.product-card {
	border-radius: 5px;
	box-shadow: rgba(146, 146, 233, 0.25) 0px 6px 15px -2px, rgba(170, 169, 169, 0.3) 0px 3px 15px -3px;
	/* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
	transition: 0.3s;
}

.product-card:hover {
	transform: scaleY(1.03);
	box-shadow: 0 0 10px 5px rgb(206, 224, 248);
}

/* .product-div:hover .product-card {
	padding-left: 0;
	padding-right: 0;
	box-shadow: none;
	transition: 0.3s;
} */

.thumbnail{
	width: 100%;
	height: 175px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	/* -webkit-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
    -moz-box-shadow: -1px -3px 5px -2px rgba(214,214,214,1);
	box-shadow:hsl(0, 0%, 80%) 0 -9px 16px; */
}

/* .thumbnail {
	transition: 0.5s;
}

.thumbnail:hover {
	transform: scale(1.1);
	box-shadow: none;
	border-radius: 5px;
} */

/* .product-div:hover .product-child {
	transform: scale(1.1);
	box-shadow: rgba(161, 160, 160, 0.56) 0px -10px 10px 4px;
} */

.bg-dark{
	background: rgb(16,13,73);
	background: linear-gradient(90deg, rgba(16,13,73,1) 48%, rgba(9,9,121,1) 100%, rgba(0,212,255,1) 100%);
}

#cart-icon{
	width: 30px;
	display: inline-block;
	margin-right: 20px;
}


.ecom-logo {
	margin-left: 20px;
}

.shop-categories {
	color: #fff;
}

.login-link {
	color: #fff;
	font-weight: 500;
}

.login-link:hover {
	color: rgb(196, 192, 192);
}

.navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.navbar-toggler {
	border-color: 1px solid white;
}

.custom-search-form {
	margin-top: 0;
	width: 50%;
	margin-right: 25vw;
}

.container-fluid .d-flex.col-lg-6 {
	justify-content: center;
}

.navbar-nav.navbar-right {
	position: absolute;
	right: 20px;
}

.custom-navbar {
	/* background: rgb(219,113,191);
	background: linear-gradient(90deg, rgba(219,113,191,1) 0%, rgba(253,92,29,1) 63%); */
	height: 60px;
	background: rgb(255,87,87);
	background: linear-gradient(90deg, rgba(255,87,87,1) 0%, rgba(253,92,29,1) 63%);
}

.dropdown-toggle {
	color: #fff;
	font-weight: 500;
}

.dropdown-menu {
	background-color: white;
}

.dropdown-item {
	color: black;
	font-weight: 400;
}

.dropdown-item:hover {
	color: #000;
	font-weight: 400;
}

.custom-navbar a:active {
	color: rgb(0, 0, 0);
	font-weight: 500;
}

/* Search */
.custom-search-bar {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	border-style: none;
	/* border: 1px solid rgb(248, 237, 237); */
}

.btn.btn-outline-success.search-btn {
	background-color: #fff;
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	border-style: none;
	
}

/* Cart */

#cart-total{
	display: inline-block;
    position: relative;
	text-align: center;
	color:#fff;
	background-color: rgb(119, 100, 100);
	width: 20px;
	height: 20px;
	border-radius: 50%;
	font-size: 12px;
    left: -42px;
    top: 2px;
    
}

.btn-primary {
	border-radius: 10px;
	background-color: #ff5757;
	/* background-color: rgb(219,113,191); */
	color: #fff;
	border: 4px;
	
}

.btn-primary:hover {
	background-color: rgb(243, 77, 0) !important;
}

.add-btn {
	font-size: 14px;
}

.btn-checkout {
	width: 100%;
}

/* .voucher-button {
	background: rgb(243, 77, 0);
} */

/* .voucher-button:hover {
	background-color: rgb(160, 51, 0) !important;
} */

.row-image{
	width: 100px;
}

.form-field{
	width:250px;
	display: inline-block;
	padding: 5px;
}

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;

}

.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
	

}

p.quantity {
	display: inline-block;
	position: relative;
	top: -6px;
	font-weight: 700;
	padding-right:10px;
}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 3px;
	transition:.1s;
}

.chg-quantity:hover{
	opacity: .6;
}

.quantity-btn-disabled{
	pointer-events: none;
    opacity:.5;
}


.hidden{
	display: none!important;
}

.carousel-item {
	height: 400px;
}

/* Flash sale starts*/

.flash-sale-text {
	font-size: 20px;
	color: #fff;
}

/* background: rgb(255,87,87);
	background: linear-gradient(90deg, rgba(255,87,87,1) 0%, rgba(253,92,29,1) 63%); */

.flash-sale-heading {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 5s ease infinite;
  }
  
  @keyframes gradient {
	0% {
	  background-position: 0% 50%;
	}
	50% {
	  background-position: 100% 50%;
	}
	100% {
	  background-position: 0% 50%;
	}
  }

.flash-sale-heading-inner {
	max-width: 1400px;
}

.flash-sale-div {
	/* overflow-x: auto; */
	height: 400px;
	scroll-behavior: smooth;
}

/* Sidebar starts */

.home-sidebar {
	width: 250px;
	height: 400px;
	position: absolute;
	top: 0;
	left: 250px;
	background: rgb(252, 90, 78);
	user-select: none;
	box-sizing: border-box;
	opacity: 0.8;
	z-index: 9;
  }

  .home-sidebar .home-sidebar-heading {
	display: flex;
	justify-content: center;
	color: #fff;
	font-size: 20px;
	font-weight: 500;
}
  
  .home-sidebar ul {
	list-style: none;
	width: 100%;
	padding-left: 5px;
  }
  
  .home-sidebar ul .category-item {
	/* position: relative;
	top: 0; */
	list-style: none;
  }

  .home-sidebar ul li a {
	position: relative;
	display: flex;
	text-decoration: none;
	padding: 0 15px;
	color: #fff;
	font-size: 14px;
	font-weight: 400;
}
  
  /* .home-sidebar ul .category-item > a {
	display: block;
	text-decoration: none;
	padding: 0 15px;
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	line-height: 40px;
  } */

  .category-item i{
	position: absolute;
	top: 14px;
	left: 220px;
  }
  
  .home-sidebar ul .category-div {

	position: absolute;
	top: 0;
	left: 250px;
	display: none;
	background: rgb(252, 90, 78);
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	width: 800px;
  }
  
  .home-sidebar ul .category-item:hover .category-div {
	/* display: flex;
	flex-wrap: wrap; */
	display: initial;
  }
  
  .category-div p span {
	color: white;
	padding-left: 20px;
	font-size: 16px;
  }
  
.category-div ul li{
    padding: 0px 5px;
}

.category-column p span{
	font-weight: 500;
	color: #ffffff;
	text-shadow: 1px 1px rgb(3, 17, 63);
}

.home-sidebar ul .category-item > a:hover {
background-color: #c50000;
color: #ffffff;
}
  


.home-sidebar ul li {
	/* cursor: pointer; */
	line-height: 40px;
	/* border-bottom: 1px solid #9e1212; */
}

/* .home-sidebar ul li:hover {
	background-color: #fff;
} */

.home-sidebar ul li a:hover {
	background-color: #c50000;
	color: #ffffff;
}

/* Sidebar ends */

.flash-sale-product-div {
	position: relative;
}

.product-slider-left-arrow-btn {
	background-color: #fff;
	border: none;
}

.product-slider-right-arrow-btn {
	background-color: #fff;
	border: none;
	position: relative;
	left: 100%;
}


.product-slider-left-btn {
	font-size: 30px;
	/* position: relative; */
	color: #4d4949;
}

.product-slider-right-btn {
	font-size: 30px;
	/* position: relative; */
	color: #4d4949;
}

.product-slider-right-btn {
	font-size: 30px;
	position: relative;
	top: 200px;
	color: #4d4949;
}

/* Flash sale ends*/

.site-footer {
	padding: 5em 0;
	background: rgb(255,87,87);
	background: linear-gradient(90deg, rgba(255,87,87,1) 0%, rgba(253,92,29,1) 63%);
	font-size: 14px;
	color: #fff;
}

.site-footer a {
	color: rgb(255, 255, 255);
	border-bottom: 1px solid transparent;
}

.site-footer a:hover {
	color: #fff;
	border-bottom: 1px solid rgba(255,255,255,0.2);
}

.site-footer h2 {
	font-size: 22px;
	margin-bottom: 28px;
	letter-spacing: 0.05em;
	color: #fff;
}

.site-footer .footer-link li {
	line-height: 1.5;
	margin-bottom: 15px;
}

/* cart page */

.cart-item-description {
	height: 70px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
	margin-bottom: 5px;
	font-size: 15px;
}

.cart-item-description-checkout {
	height: 45px;
	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	margin-bottom: 5px;
	font-size: 15px;
}
.product_img {
	width: 150px;
	height: 150px;
}

.product-img-checkkout {
	width: 120px;
	height: 120px;
}


#itemval {
	font-size: 25px;
}

/* Remove Item */
.cart-remove {
	font-size: 16px;
}


.card {
	border: none;
}

.right-side {
	border-radius: 10px;
}


/* Quantity button */

.custom-input-group {
	width: 110px;
	margin-left: auto;
}

.quantity-button {
	height: 27px;
}

.product-quantity-button {
	height: 27px;
}

.cart-thumbnail {
	width: 100%;
	height: 150px;
}

.cart-thumbnail-checkout {
	width: 100%;
	height: 120px;
}

.thumbnail-product-pic {
	width: 300px;
	height: 300px;
	object-fit: contain;
}

/* Product Detail Page ---> product.html */
/* Product Details Sidebar */

.sidebar {
	width: 300px;
	height: 100vh;
	
	background: linear-gradient(135deg, rgba(255,87,87,1) 0%, rgba(253,92,29,1) 63%);
	
}

.sidebar-heading {
	color: white;
}

.sidebar-fonts {
	color: white;
	font-weight: 500;
	border-left: 3px solid transparent;
}

.sidebar-fonts:hover {
	color: white;
	background-color: rgba(210, 60, 60, 1);
	border-left-color: rgb(255,87,87);
}

.sidebar-lists {
	line-height: 30px;
	border-bottom: 1px solid rgba(222, 226, 218, 1);
}

/* Product Details Sidebar ends */

.product-details-image {
	width: 100%;
	height: auto;
}

/* Small images thumbnails starts */

.small-images-grp{
	display: flex;
	position: relative;
	justify-content: center;
}

.small-image-column{
	padding: 5px;
}

.small-img-thumbnails {
	width: 100%;
	height: 70px;
	cursor: pointer;
	opacity: 0.6;
}

.small-img-thumbnails:hover{
	opacity: 1;
}

.thumbnail-active{
	opacity: 1;
}

/* Small images thumbnails ends */

.product-details-category {
	font-size: 13px;
	font-weight: 550;
}

.product-detail-text {
	font-family: 'Poppins', sans-serif;
	color: #333333;
}

.star-votes {
	font-size: 12px;
	font-weight: 570;
}

.product-details-name {
	font-weight: 500;
	color: rgb(0, 0, 0);
}

.product-details-price {
	font-weight: 600;
	color: rgba(255, 98, 0, 1);
}

.size-select {
	align-items: center;
}

.size-form {
	font-size: 15px;
	font-weight: 500;
}

/* .size-select input:checked + span {
	color: rgb(219, 75, 75);
	font-weight: 600;
} */

/* .size-select input:hover +  span {
	color: rgb(255, 255, 255);
	font-weight: 600;
} */

/* .size-select input:hover .size-label {
	background-color: rgb(219, 75, 75);
	font-weight: 600;
} */

.size-select input {
	display: none;
}

.size-select span {
	width: 100%;
	height: 100vh;
	padding-left: 2px;
	padding-right: 2px;
	/* margin-right: 10px; */
	cursor: pointer;
}

.size-label {
	height: 35px;
	width: 50px;
	vertical-align: middle;
	margin-right: 5px;
	border: 1px solid rgb(235, 164, 117);
	border-radius: 5px;
	text-align: center;
	transition: 0.3s;
}

.size-label:hover {
	border-color: rgb(255, 108, 50);
	background-color: rgb(255, 108, 50);
	color: white;
	cursor: pointer;
}

.size-span {
	vertical-align: -webkit-baseline-middle;
}

/* .size-label:checked {
	border-color: rgb(219, 75, 75);
	background-color: rgb(219, 75, 75);
	color: white;
} */ 

.checked {
	border-color: rgb(255, 108, 50);
	background-color: rgb(255, 108, 50);
	color: white;
}

.product-details-add-btn {
	width: 25%;
	padding-right: 10px;
}

.color-label {
	height: 35px;
	width: 50px;
	vertical-align: middle;
	margin-right: 5px;
	border: 1px solid rgb(235, 164, 117);
	border-radius: 5px;
	text-align: center;
	transition: 0.3s;
}

.color-label:hover {
	border-color: rgb(255, 108, 50);
	background-color: rgb(255, 108, 50);
	color: white;
	cursor: pointer;
}

.star {
	color: #ff0000;
}

.toast-notification {
	position: absolute;
	top: 100px;
	right: 30px;
	width: 300px;
	border-radius: 12px;
	background: #fff;
	padding: 20px 35px 20px 25px;
	box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.1);
	overflow: hidden;
	border-left: 6px solid #fc4120;
	transform: translateX(calc(100% + 30px));
	transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

.toast-notification.active {
    transform: translateX(0%)
}

/* .active {
	transform: translateX(0%);
} */

.toast-notification .toast-content {
	display: flex;
	align-items: center;
}

.toast-content .check {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 35px;
	width: 35px;
	background-color: #399b00;
	color: white;
	font-size: 20px;
	border-radius: 50%;
}

.toast-content .message {
	display: flex;
	flex-direction: column;
	margin: 0 20px;
}

.message .text {
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
	/* font-weight: 600; */

}

.toast-notification .close {
	position: absolute;
	top: 10px;
	right: 15px;
	padding: 5px;
	cursor: pointer;
	opacity: 0.7;
}

.toast-notification .close:hover {
	opacity: 1;
}

.toast-notification .progress {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 5px;
	width: 100%;
	background: #ddd;
}

.toast-notification .progress::before {
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	height: 100%;
	width: 100%;
	background-color: #fc4120;
}

.progress.active::before {
	animation: progress 5s linear forwards;
}

@keyframes progress {
	100%{
		right: 100%;
	}
}

